.book-container {
  @apply flex items-center justify-center;
  perspective: 800px;
}
.book {
  @apply w-[200px] h-[300px] relative animate-[3d-book_1s_ease_1] duration-1000 ease-linear;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
}
.book-container:hover .book,
.book-container:focus .book {
  transform: rotateY(0deg);
}
.book > :first-child {
  @apply absolute left-0 top-0 bg-themePrimary w-[200px] h-[300px];
  transform: translateZ(25px);
  border-radius: 0 1px 1px 0;
  box-shadow: 5px 5px 20px #455265;
}
.book::before {
  @apply absolute left-0 top-1 w-[38px] h-[296px]  bg-white;
  content: " ";
  transform: translateX(177px) rotateY(90deg);
}
.book::after {
  @apply absolute left-0 top-0 w-[200px] h-[300px] bg-[#cdcdcd] rounded-[0_1px_1px_0];
  content: " ";
  transform: translateZ(-10px);
  box-shadow: -10px 0 30px 1px #455265;
}