@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: #353535;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --theme-primary: #f1b00b;
    --theme-primary-foreground: #000;

    --theme-tertiary: #faddb2;
    --theme-tertiary-foreground: #000;

    --theme-secondary: #468966;
    --theme-secondary-foreground: #fff;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --theme-primary: #f1b00b;
    --theme-primary-foreground: #fff;

    --theme-tertiary: #e9cfa9;
    --theme-tertiary-foreground: #000;

    --theme-secondary: #468966;
    --theme-secondary-foreground: #fff;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sulphur;
  }
  ::placeholder {
    @apply text-base;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-asul;
  }
}
.section-margin {
  @apply mt-8 sm:mt-14;
}
.section-padding {
  @apply pt-8 sm:pt-14;
}
/* primary-btn  */
.primary-btn,
.secondary-btn,
.outline-btn {
  @apply relative inline-block align-middle transition-colors duration-500 rounded-lg px-4 md:px-6 py-3 cursor-pointer leading-none text-base font-semibold;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.primary-btn {
  @apply bg-themePrimary text-black hover:dark:text-themeSecondary-foreground;
}
.secondary-btn {
  @apply bg-themeSecondary text-black hover:dark:text-themeSecondary-foreground;
}
.outline-btn {
  @apply bg-transparent text-black  dark:text-themePrimary hover:dark:text-themeSecondary-foreground border-2 border-themePrimary;
}
.primary-btn:before,
.secondary-btn:before,
.outline-btn:before {
  @apply rounded-md absolute top-0 left-0 right-0 bottom-0 -z-10 duration-500 ease-out transition-transform origin-[50%_100%] scale-y-0 content-[""];
}
.primary-btn:before{
@apply bg-themeSecondary dark:bg-secondary ;
}
.secondary-btn:before{
@apply bg-themePrimary dark:bg-secondary ;
}
.outline-btn:before{
@apply bg-themePrimary rounded-sm;
}
.primary-btn:hover::before,
.secondary-btn:hover::before,
.outline-btn:hover::before,
.primary-btn:focus::before,
.secondary-btn:focus::before,
.outline-btn:focus::before,
.primary-btn:active::before,
.secondary-btn:active::before,
.outline-btn:active::before {
  @apply scale-y-100;
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
